@import url('https://fonts.googleapis.com/css?family=Dosis');

.container{
  padding-top:24px;
  width:80%;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
}
.block{
  width:280px;
  height:400px;
  background:white;
  box-shadow:0 0 16px #e2e2e2;
  border-radius: 8px;
  margin:16px;
}
.blok-items:first-child{
  width:100%;
}
.relative{
  position:relative;
  border-radius:8px;
}
.block-items-img{
  width:280px;
  height:200px;
  border-radius: 8px;
}
.block-items-title{
  position:absolute;
  bottom:0;
  font-family: 'Dosis', sans-serif;
  z-index:1;
  font-weight:bolder;
  font-size:48px;
  padding:5px;
}
.block-items-title::after{
  content:"";
  display:block;
  position:absolute;
  width:100%;
  height:50px;
  z-index:-1;
  bottom:0;
  left:0;
  background:white;
}
.block-items:last-child{
  padding:0 16px;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  height:49%;
}
.column{
  height:33%;

}
.btn{
  background:gold;
  border-radius:2px;
  border:none;
  width:40px;
  height:40px;
  margin-left:16px;
  font-size:16px;
}
.prix,.prix-total,.quantity{
  font-size:24px;
  font-family: 'Dosis', sans-serif;
  position:relative;
  z-index:1;
}

.quantity{
  border-top:2px solid gold;
  display:flex;
  align-items:center;
}
.prix,.prix-total{
  display:flex;
  align-items:center;
}
.prix::after{
  content:"";
  width:50%;
  height:12px;
  left:0;
  background:gold;
  position:absolute;
  z-index:-1;
}
